[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests-html = "*"
pandas = "*"
httpx = "*"
pydot = "*"
loguru = "*"
boto3 = "*"
fsspec = "*"
aws-lambda-powertools = "*"
s3fs = "*"

[dev-packages]

[requires]
python_version = "3.9"
